.content{
	margin-top: 10%;
	margin-bottom: 450px;
	min-width: 500px;
}

.about, .about_left, .about_right{
	position: relative;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	height: 225px;
}

.content .about .right{
	display:none;
}

.about {
	min-width: 800px;
}

.about_left, .about_right{
	height: 100px;
	width:40%;
	min-width: 300px;
	display: block;
}

.about_left{
	float:left;
}

.about_right{
	float:right;
}

.about img {
	width: 300px;
	height: 225px;
	margin-bottom: 10px;
	max-width: 100%;
	float: left;
	margin-right: 40px;
}

.about_right img, .about_left img{
	width: 133px;
	height: 100px;
	float:left;
}

.about_left img.left,.about_right img.left {
	float: left;
	margin-right: 10px;
}
.about_left img.right,.about_right img.right  {
	float: right;
	margin-left: 10px;
}

#om {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}